<div class="row">
<div class="col-md-2">staff
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">


<h2>New Staff</h2>

<%= render 'form' %>

<%= link_to 'All Staff', staffs_path, style: 'color:#d3d3d3'  %>

</div></div>
