<!-- Instructions: This is the welcome section. -->  

  <div class="row">
    <div class="col-md-4">
    
   <center> <%= image_tag "HF_SK_NEW LOGO_white.png", alt: "Hang Fire Southern Kitchen",:class => "photo_img" %></center>
    <br>
     <h6><center><strong><i> BBC FOOD AWARD WINNING BBQ </i></strong></center></h6>
     <br>

     <!-- Instructions: This is the opening hours section. -->  

      <center>     <table class="table-condensed " style="width: 78%;" style="border: 1; text-align:left; bgcolor:key => "value", #ffffff;">
           <tr ><td colspan="4"><h4><i class="fa fa-clock-o fa-fw"></i> OPENING HOURS</h4></td></tr>
           <tr><td style="width: 5%"></td><td style="width: 25%">Wed:</td><td style="width: 65%">5pm - 11pm</td><td style="width: 5%"></td></tr>
           <tr><td></td><td>Thurs:</td><td>5pm - 11pm</td><td></td></tr>
           <tr><td></td><td>Fri:</td><td>12 noon - 11pm</td><td></td></tr>
           <tr><td></td><td>Sat:</td><td>12 noon - 11pm</td><td></td></tr>
           <tr><td></td><td>Sun:</td><td>12 noon - 6pm</td><td></td></tr>
           <tr><td></td><td>Mon:</td><td>Closed</td><td></td></tr>
           <tr><td></td><td>Tues:</td><td>Closed</td><td></td></tr>
           <tr><td></td><td></td><td></td><td></td></tr>
           </table>

        </center>
   </div>
  

