<!-- Instructions: This is the welcome section. -->  

  <div class="row">
    <div class="col-md-4">
    <%= image_tag "HF-Logo-Lndscape.jpg", size: "255x160" %>
    <br>
     <h6><strong><i> BBC FOOD AWARD WINNING BBQ </i></strong></h6>
     <br>

     <!-- Instructions: This is the opening hours section. -->  

           <table class="table-condensed " style="width: 78%;" style="border: 1; text-align:left; bgcolor:key => "value", #ffffff;">
           <tr ><td colspan="4"><h4><i class="fa fa-clock-o fa-fw"></i> OPENING HOURS</h4></td></tr>
           <tr><td style="width: 13%"></td><td style="width: 25%">Wed:</td><td style="width: 40%">5pm - 11pm</td><td style="width: 12%"></td></tr>
           <tr><td></td><td>Thurs:</td><td>5pm - 11pm</td><td></td></tr>
           <tr><td></td><td>Fri:</td><td>5pm - 11pm</td><td></td></tr>
           <tr><td></td><td>Sat:</td><td>10am - 12pm</td><td></td></tr>
           <tr><td></td><td>Sun:</td><td>10am - 6pm</td><td></td></tr>
           <tr><td></td><td>Mon:</td><td>Closed</td><td></td></tr>
           <tr><td></td><td>Tues:</td><td>Closed</td><td></td></tr>
           <tr><td></td><td></td><td></td><td></td></tr>
           </table>

        
   </div>

