<!-- Instructions: This is the welcome section. -->  

  <div class="row">
    <div class="col-md-4">
    
   <center> <%= image_tag "HF_SK_NEW LOGO_white.png", alt: "Hang Fire Southern Kitchen",:class => "photo_img" %></center>
    <br>
     <h6><center><strong><i> BBC FOOD AWARD WINNING BBQ </i></strong></center></h6>
     <br>

     <!-- Instructions: This is the function room photo section. -->  

      <center>     
 <%= image_tag "pumphouse.jpg", :class => "photo_img3" %>
 <br>
  <%= image_tag "pumphouse.jpg", :class => "photo_img3" %>
        </center>
   </div>
  

