<!-- Instructions: This is the welcome section. -->  

  <div class="row">
    <div class="col-md-4">
    <center><%= image_tag "HF_SK_NEW LOGO_white.png", :class => "photo_img" %></center>
    <br>
     <h6><strong><center><i> BBC FOOD AWARD WINNING BBQ </i></center></strong></h6>
     <hr>
<!-- Instructions: This is the tv section. -->  
         <h6><font color=#D3D3D3><i>Coming Soon...</i></font><br></h6>
         <h5><b><center>Sam and Shauna's Big Cookout</b></h5>
         <h6><small><center>Starts April 9th, 2018 on the BBC</small></center></h6>
        <center> <%= image_tag("TV_BIG_COOK_OUT.jpg", size: "310x200") %></center>

<!-- Instructions: This is the current news item section. -->  
        <hr>
       <center> <%= image_tag("book_cover_t.png", size: "180x240") %></center>
       <hr>
        
<!-- Instructions: This is the amazon buy section. -->  

        <h6><center>Our cook book is available to buy in our restaurant and from Amazon...</center></h6>
        <center><%= link_to image_tag("amazon_index.png", size: "150x30"), "http://www.amazon.co.uk/Hangfire-Cookbook-Recipes-Adventures-American-y/dp/1849497656/ref=sr_1_1?s=books&ie=UTF8&qid=1452690652&sr=1-1&keywords=hang+fire+smokehouse", :target => "_blank" %>
        </center>
        </h6>
       </div>
   
       
