<!-- Instructions: This is the welcome section. -->  

  <div class="row">
    <div class="col-md-4">
    
   <center> <%= image_tag "HF_SK_NEW LOGO_white.png", alt: "Hang Fire Southern Kitchen",:class => "photo_img" %></center>
    <br>
     <h6><center><strong><i> BBC FOOD AWARD WINNING BBQ </i></strong></center></h6>
     <br>

     <!-- Instructions: This is the opening hours section. -->  

      <center>     <table class="table-condensed " style="width: 78%;" style="border: 1; text-align:left; bgcolor:key => "value", #ffffff;">
           <tr><td colspan="2"><center><h4>FOOD SERVED:</h4></td></tr>
           <tr></td><td style="width: 45%"><b>Wed:</td><td style="width: 55%">5pm - 8.30pm</td></tr>
           <tr><td><b>Thurs:</td><td>5pm - 8.30pm</td></tr>
           <tr><td><b>Fri & Sat</b> Lunch:</td><td>12pm - 2pm</td></tr>
            <tr><td><b>Fri & Sat</b> Evening:</td><td>5pm - 9pm</td></tr>
           <tr><td><b>Sun:</td><td>12 noon - 3pm</td></tr>
           <tr><td><b>Mon & Tues:</td><td>Closed</td></tr>
           <tr><td colspan="2"><center><font color=#ff9933>We close at<br>11pm Wednesday - Saturday<br>and 6pm on Sunday</td></tr>
           <tr><td colspan="2"><center><%= image_tag "holly-icon.png", :class => "holly_small_img" %>
           Booking for <b>December</b>?<br>
            <%= link_to "Click here for information.", static_pages_hfsk_holiday_season_path, :class => "link", :style => "color:#9ACD32" %>
              </center>
              </td></tr>
           <tr><td></td><td></td></tr>
           </table>

        </center>
   </div>
  

