<!-- Instructions: This is the welcome section. -->  

  <div class="row">
    <div class="col-md-4">
    <center><%= image_tag "HF_SK_NEW LOGO_white.png", :class => "photo_img" %></center>
    <br>
     <h6><strong><center><i> BBC FOOD AWARD WINNING BBQ </i></center></strong></h6>

<!-- Instructions: This is the current news item section. -->  

        
       <center> <%= image_tag("book_cover_t.png", size: "180x240") %></center>
        
<!-- Instructions: This is the amazon buy section. -->  

        <h6><center>Our brand new cook book is out 5th May and available for pre-order on Amazon...</center></h6>
        <center><%= link_to image_tag("amazon_index.png", size: "150x30"), "http://www.amazon.co.uk/Hangfire-Cookbook-Recipes-Adventures-American-y/dp/1849497656/ref=sr_1_1?s=books&ie=UTF8&qid=1452690652&sr=1-1&keywords=hang+fire+smokehouse", :target => "_blank" %>
        </center>
        </h6>
       </div>
   
       
