<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>

<!-- Instructions: This is the menu section. -->  

   <div class="col-md-6" style="padding-top:10px;">
   
    <h5><b><font color=#9ACD32>PLEASE NOTE</font></b></h5>
    <h4>To use our new, improved booking system!<br>
    <%= link_to "CLICK HERE", new_booking_enquiry_path, :style => "color:#FFC300" %></h4>
    <br><br>
    <h6><small>THIS PAGE IS NOT LONGER IN USE,<br>PLEASE UPDATE YOUR BOOKMARK TO THE NEW BOOKING SITE.</small></h6>
    
        </div>
        </div>




 
 
   
   