<br><br>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3  class="text-center">When do you want to collect?</h3>
    <br>
    <br>
       <p  class="text-center">
        <button type="button" class="btn btn-info btn-lg button_custom_width">
          <%= link_to "Today", new_enquiry_path(:col_day => "today") %>
       </button>
       </p> 
   <br>  
   <p  class="text-center">
    <button type="button" class="btn btn-warning btn-lg button_custom_width">
      <%= link_to "Tomorrow", new_enquiry_path(:col_day => "tomorrow") %>
   </button>
   </p> 
    </div>
        </div>
            </div>
    