<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_function_room'%>

<!-- Instructions: This is the menu section. -->  

   <div class="col-md-3" style="padding-top:10px;">

    <h5><b><font color=#9ACD32>HOW IT WORKS</font></b></h5>
    <h6>
    At Hang Fire Southern Kitchen restaurant we have a private function area called <b>The Engine Room</b>.
    <br>
    <br>This is available to book for larger parties of 16+.
    <br><br>
    The room offers a fully serviced bar and carefully designed set-menus. 
    <br><br>
    To enquire about hosting your event with us, please fill in the form and we'll get back to you to discuss details.
    
   </div></h6>


   <!-- Instructions: This is the table booking section. -->  

    <div class="col-md-4">
    <center> <h4><strong>FUNCTION ROOM ENQUIRY</strong></h4>
    
     <%= render 'functions/new' %>
    
</div>




 
 
   
   