<div class="hfsk-menu-background">

<%= render 'layouts/external_header' %>
<br>
<div class="row">
<br><br><br>
  <!-- Instructions: This is the home section. -->  
  <center>
     <%= image_tag "close_down.jpg", :class => "photo_close_msg" %> 
     <br><br><br>
    
     
     
     
     
     
     <!-- image_tag "HF_SK_NEW LOGO_white.png", :class => "photo_main_logo" --> 
      <!-- link_to "BOOK A TABLE", static_pages_new_booking_enquiry_path, :class => "btn button_book_table_white" -->
      <center>
      <a href="/home"><i class="fa fa-stop-circle-o" style='color: #600000;'></i></a>
      </center>

  </div>
</div>
 
   
   