<title>HFSK About</title>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

<center><%= image_tag "HF-Logo-Lndscape.jpg", size: "600x160" %></center>
	  <br>
	  <center><h2>About Hang Fire</h2>

	  
	  
	  </center>
	  
  </div>
  </div>
 