 <%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_news'%>

 
<!-- Instructions: This is the contact us section.: uses non-table model message and emails out content -->  

  <div class="col-md-5">
	  <h5>If you want to get in touch, you can email us at<b> hangfirebarry@gmail.com</b>. If you can't find a phone number for us, don't panic, we don't have one. All correspondence via email please.<br><br>
	  Please note, we deal with a large number of enquiries but we'll do our best to get back to you ASAP.</h5>
<br><br>
	
<!-- Instructions: This is the mailing list section. -->  

  
  <h6>JOIN OUR MAILING LIST</h6>
  <p>Be the first to know about Hang Fire news including our specials, offers and news. We promise not to spam!</p>
   
 
   <%= render 'customers/new'%>
   
  </div>
  </div>

   
 
 