<%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_open_hours'%>

 
<!-- Instructions: This is the location section. -->  

  <div class="col-md-4">
  <h5>The Pumphouse, Hood Road, Barry, CF62 5BE.<br></h5>
  <h6>10 minute walk from main Barry train station. 
  <br>Limited free parking is available on-site.</h6>
  <style>
        #map {
          width: 350px;
          height: 230px;
        }
      </style>
      <script>
            function initialize() {
              var mapCanvas = document.getElementById('map');
              var mapOptions = {
                center: new google.maps.LatLng(51.399660, -3.278211),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              var map = new google.maps.Map(mapCanvas, mapOptions)
            }
   
            google.maps.event.addDomListener(window, 'page:load', initialize);
          </script>
  <div id="map"></div>
  <br><%= link_to "Book a Table", static_pages_booking_enquiry_path, :class => "link", :style => "color:white" %>
  </div>
  <div class="col-md-4">
  <br><br><br><br><br><br><br>
  <%= image_tag "pumphouse.jpg", :class => "photo_img2; img-responsive" %>
  </div>

   
 
 