<div class="hfsk-menu-background">

<%= render 'layouts/external_header' %>
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 

  <div class="row">

  <!-- Instructions: This is the food menu section. -->  
   
   <div class="col-md-12">
     <h5> MENU </h5>
       
       <h6 style="line-height:20px;"><small><b>Please note:</b> this is a sample menu and is subject to change as we put on new specials, seasonal ingredients and develop new drinks.</small></h6>
 
         <%= image_tag "HFSK_Sample_Menu_May21.jpg", :class => "menu_img" %>
         <%= image_tag "HFSK_05_2021_DRINKS.jpg", :class => "menu_img" %>

<br><br><br><br>
       </div>
  
          </div>
            </div>
  </div>
  </div>


 
 
   
   