<%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_open_hours'%>

 
<!-- Instructions: This is the location section. -->  

  <div class="col-md-5">
  <h6>The Pumphouse, Hood Road, Barry, CF62 5AQ.</h6>
  <p>10 minute walk from main Barry train station. 
  <br>Limited free parking is available on-site.
  <br>
  <b><%= link_to "Book a Table", static_pages_booking_enquiry_path, :class => "link", :style => "color:white" %>
 </b></p>
  <style>
        #map {
          width: 388px;
          height: 220px;
        }
      </style>
      <script>
            function initialize() {
              var mapCanvas = document.getElementById('map');
              var mapOptions = {
                center: new google.maps.LatLng(51.399660, -3.278211),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              var map = new google.maps.Map(mapCanvas, mapOptions)
            }
   
            google.maps.event.addDomListener(window, 'page:load', initialize);
          </script>
  <div id="map"></div>
  <br>
  <%= image_tag "pumphouse.jpg", :class => "photo_img3" %>
  </div>

   
 
 