<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>
   
<!-- Instructions: This is the menu section. -->  

   <div class="col-md-6">
     <h4><i class="fa fa-bars fa-fw"></i><strong>  MENU</strong> </h4>
     <br>
    <h6> <i class="fa fa-file-pdf-o"></i>
     <%= link_to 'Click to see our sample menu for the main dining room', download_pdf_url, style: 'color:#FFFFFF;' %></strong><br><br>
     <br>
     <h6> <i class="fa fa-file-pdf-o"></i>
      <%= link_to 'Click to see our sample menu for Preservation Hall, our private room', download_pdf_url, style: 'color:#FFFFFF;' %></strong><br><br>
    
     </div></h6>


<br><br><br><br><br>

 
 
   
   