<div class="hfsk-hah-background">
  
 <%= render 'layouts/external_header' %>
  
  <div class="row">
   <div class="col-md-10 col-md-offset-1  "> 
    
   <div class="row">
   <br>
   <br>
   <br>
   <br>
   <br>
  <!-- Instructions: This is the header section. -->  
   <div class="col-md-4 col-md-offset-1">
  
   <h4>Welcome to 
   
     <font color=#FFD801><b>HANG FIRE HEAT AT HOME<b></font></h4><br>
     <h6>Our award winning barbecue smoked to perfection by us - ready for you to heat in the comfort of your home.<br>
     <br>
     Please note, this is a pre-order service to make sure we prepare the freshest
     products for you. You can order soft and alcoholic drinks including bottles of our
     house craft beer, Lockhart, our side dishes and, of course, our amazing BBQ and home made sauces.
     </h6>
  
   <br> 
    
     <h5><b>
    
    <%= link_to "CLICK HERE TO ORDER", "https://pay.yoello.com/v/hangfire", :target => "_blank", :class => "btn button_book_table_orange", :style=>'color:#000000;'  %>
      </b></font></h5>
      
      <br>
      <h5><b><font color=#FFD801>How to order ‘Hang Fire at Home’ with Yoello</font></b></h5>
      </b>
      <h5>
      <ol>
        <li>Click the link from our website or scan the QR code to open the Yoello ordering service.</li>
          <li>To view our Heat at Home menu select ‘View Dine In Menu’</li>
            <li>Select your Heat at Home products including our delicious drinks, sides and sauces.</li>
               <li>Select your next day collection time.</li>
                <li>Enter your phone number to receive your unique order number.</li>
                  <li>You’ll be asked to select a table for collection. Please put ‘1’ in this field.</li>
                    <li>Complete payment and you’re all done!</li>
                      <li>We kindly ask that you arrive on time for your collection. Your order will be packed and waiting for you. We have a very limited amount of people we can let into the building at once so we would appreciate you arriving promptly so we can give everyone a safe collection experience. </li>
         
      </ol>
      </h5>
   
   </div>
   
   <div class="col-md-4 col-md-offset-1">
    <br>
     <%= image_tag "HAH_FOOD_IMAGE.jpg", :class => "hah_img" %> <br>
      <br>
     
     
     <h5><b><font color=#FFD801>FAQs</font></b></h5>
     
     <h6><b><i>How will I know how to reheat my order?</i></b></h6>
     <h6><small>We will give you full, simple instructions in with your heat at home pack.</small></h6>
     <br>
     
     <h6><b><i>My order got cancelled?</i></b></h6>
      <h6><small>We hope this doesn’t happen, but in the event it does, it could mean that we have run out-of-stock of one or more item. Currently the way Yoello works means we cannot isolate that one out-of-stock item and proceed with the rest of your order. You can absolutely place your order again, and the out-of-stock item will not appear for selection. 
     </small></h6>
     </ul>
     <br>
     <br>
     <br>
     <br>
     <br>
       
    </div>
  </div>
  </div>
</div>
</div>
 