<div class="hfsk-get-in-touch-background">
 <%= render 'layouts/external_header' %>
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 


<div class="row">
  <div class="col-md-4">
		 <br><br><br>
<!-- Instructions: This is the csocial section -->  
	  <h5 style="line-height:34px;">We're a social bunch,<br>
		  why not check out our flavour<br>
		  of #BBQLOVE over a bit of<br>
		  social media
	  </h5>

	<br>
 <!-- Instructions: This is the social media section. -->  
  
  <ul class="list-inline text-left"> 
     <li><a href="https://www.facebook.com/pages/Hang-Fire-Smokehouse/203591489778567" target="_blank"><i class="fa fa-facebook fa-fw fa-3x" style='color: #60B3E0;'></i></a>
     </li> 
     <li><a href="https://twitter.com/hangfirebbq" target="_blank"><i class="fa fa-twitter fa-fw fa-3x" style='color: #60B3E0;'></i></a>
     </li>  
     <li><a href="http://instagram.com/hangfirebbq" target="_blank"><i class="fa fa-instagram fa-fw fa-3x" style='color: #60B3E0;'></i></a>
     </li>  
     <li><a href="https://www.youtube.com/channel/UCM6UYsYUvLAzFZp7M4hCWWg" target="_blank"><i class="fa fa-youtube fa-fw fa-3x" style='color: #60B3E0;'></i></a>
     </li>
 </ul>
</div>
  <div class="col-md-6">
	  <h4>GET IN TOUCH</h4><br>
 
<!-- Instructions: This is the contact us section.: uses non-table model message and emails out content -->  

 
   <%= render 'messages/new'%>
   <br><br><br><br><br><br><br><br>
  </div>
  </div>
  </div>
   
 
 