<title>Hang Fire Southern Kitchen</title>

 <%= render 'layouts/external_header' %>
 <%= render 'static_pages/side_welcome_news'%>
 
   <!-- Instructions: This is the get in touch section. -->  

   <div class="col-md-7">
 <p>
  Samantha Evans and Shauna Guinn quit their careers and travelled to America in 2012 – 2013 on a road trip of epic proportions to find out ‘what exactly is american slow and low barbecue?’
<br><br>
  Their adventures saw them help cook for a rodeo in Houston (smoking 50 briskets, 300 chickens and 500 racks of spare rib!), help an old mountain man repair his even older drum smoker deep in the Appalachians and being entrusted with spice rub secrets that they have to ‘take to the grave’. They attended masterclasses by competition winning barbecuers and travelled around the southern states eating all the major state variations.
<br><br>
<b>Since arriving back, Sam & Shauna, affectionately known as 'The First Ladies of ‘Cue’ have taken the slow and low world by storm. Here are some of their accolades achieved in under 3 years:
</b>
<br>
 <div class="col-md-11 col-md-offset-1">
<ul class="list-inline-white">
<li>The first female duo to bring slow and low American BBQ back to the UK</li>
<li>Credited by the press for starting the pop-up restaurant and street food scene in Cardiff in 2014</li>
<li>Winners of BBC Food & Farming Awards - ‘Best Street Food’ 2015</li>
<li>Finalists for 2015 Young British Foodie on the Year on both ‘Street Food’ and ‘Meat’ Categories (the first ever business to span more than one category)</li>
<li>Observer Food Monthly ‘Best Value Eats’, Wales region</li>
<li>Their original recipe rubs and barbecue table sauces are available in delis</li>
<li>Voted Wales’ ‘ No1. Coolest Women’ 2015 by Wales Online top 50 poll of the most influential women in the Principality</li>
<li>First international female duo to write a cook book on American Barbecue, published by publishing giants, Quadrille</li>
<li>Created Wales’ first craft soda, called ‘Triple’ Soda in conjunction with Pipes Brewery, Cardiff</li>
<li>The first in Wales to created bespoke American style beers that perfectly paired with their food in conjunction with Wales’ only female brewster, Sue Hayward of Waen Brewery</li>
<li>About to open their first restaurant in Barry’s historic waterfront in a Grade II listed building focussing on southern state cooking, barbecue and grilling on Wales’ first, custom built Argentinian Parilla grill</li>
  </ul>
  </p>
 </div> </div>
   </div>
   <br><br> 
  
   

 