<title>Hang Fire Southern Kitchen</title>

 <%= render 'layouts/external_header' %>
 <%= render 'static_pages/side_welcome_news'%>
 

   <!-- Instructions: This is the get in touch section. -->  

   <div class="col-md-6">
   
  <h6>In 2012, we, Samantha Evans and Shauna Guinn quit our careers, packed our guitars and took a trip of epic proportions around the USA to discover the secrets of slow and low barbecue and immerse ourselves in roots music. 
  <br><br>From opening Cardiff's first pop-up restaurant, writing a cookbook to winning the coveted 'Best Streetfood' award from the BBC Food Awards, we haven't looked back since stepping off that plane with the idea of bringing the food, music and culture home to Wales. </h6><br>

     <h6>See all our latest pictures on Instagram ...<a href="http://instagram.com/hangfirebbq" target="_blank"><i class="fa fa-instagram fa-fw fa-2x" style='color: #FFFFFF;'></i>
    </h6><div>
    <!-- SnapWidget -->
    <script src="http://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="http://snapwidget.com/in/?u=aGFuZ2ZpcmViYnF8aW58MTI1fDN8Mnx8bm98NXxub25lfG9uU3RhcnR8bm98eWVz&ve=090216" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      </div>
   </div>
   </div>
  
   

 