<title>Hang Fire Southern Kitchen</title>

 <%= render 'layouts/external_header' %>
 <%= render 'static_pages/side_welcome_news'%>
 

   <!-- Instructions: This is the get in touch section. -->  

   <div class="col-md-6">
 <p>
  Samantha Evans and Shauna Guinn, quit their careers and traveled to America in 2012 – 2013 on a road trip of epic proportions to find out ‘what exactly is american slow and low barbecue?’
  <br><br>
  Their adventures saw them help cook for a rodeo in Houston (smoking 50 briskets, 300 chickens and 500 racks of spare rib!) to helping an old mountain man repair his even older drum smoker deep in the Appalachians and being entrusted to spice rub secrets that they have to ‘take to the grave’. They attended masterclasses by competition winning barbecuers and traveled around the southern states eating the very best (and sometimes the very worst) barbecue. Having experienced all the major State variations, they aim to recreate authentic, southern style bbq and southern cooking using British produce.
  <br><br>
  Since arriving back, Sam & Shauna, affectionately known as <i>The First Ladies of ‘Cue’</i> have taken the slow and low world by storm. They are credited with giving real momentum to the pop-up restaurant and street food movement in Cardiff, inspiring many others to start their own street food and drinks businesses. In 2015 they won the coveted ‘Best Street Food’ Award at the BBCR4 Food Awards, have written their first cook book, due out in May 2016 published by International publishers Quadrille, created Wales’ first craft Soda (Triple Soda) with Pipes Brewery in Cardiff, first in Wales to create dedicated beers that perfectly pair with their BBQ with Waen Brewery in Mid Wales and if that wasn’t enough, they’re about to open their first  restaurant in Barry. 
  </p>


   </div>
   </div>
  
   

 