<div class="hfsk-menu-background">
  
 <%= render 'layouts/external_header' %>
  
  <div class="row">
   <div class="col-md-10 col-md-offset-1  "> 
    
   <div class="row">
   <br>
   <br>
   <br>
   <br>
   <br>
  <!-- Instructions: This is the header section. -->  
   <div class="col-md-3">
  
   <h6>Welcome to<br></h6>
   
     <h5><font color=#FFD801><b>HANG FIRE HEAT AT HOME<b></font></h5>
     <h6>Our award winning barbecue smoked to perfection by us - ready for you to heat in the comfort of your home.<br>
     <br>
     Please note this is a pre-order service to make sure we prepare the freshest
     products for you. You can order soft and alcoholic drinks including bottles of our
     house craft beer, Lockhart, our side dishes and of course our amazing BBQ and home made sauces.
     </h6>
  
   <br> 
   
     <h5><b>
     <%= link_to "CLICK HERE TO ORDER ", "https://pay.yoello.com/v/hangfire", :target => "_blank",  :style=>'color:#FFD801;' %>
      </b></font></h5>
   
   </div>
   
   <div class="col-md-5">
    <br>
 
     <%= image_tag "HAH_FOOD_IMAGE.jpg", :class => "hah_img" %> <br>
     
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>     
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
       
    </div>
  </div>
  </div>
</div>
</div>
 