<div class="hfsk-home-closure">

<br>
<div class="row">
 <div class="col-md-8 col-md-offset-3  "> 
  
 <div class="row">
<!-- Instructions: This is the home section. -->  
 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <br>
       <h5><center><font color=#FFFFFF><b>
The Hang Fire Southern Kitchen in Barry has been the jewel in the crown of Wales’ restaurant scene since 2016, boasting a fully booked guest list since we opened and winning multiple National awards for our innovative take on American BBQ. But now, the state of hospitality recruitment and staff shortages post-pandemic has finally forced our well-loved restaurant to close its doors permanently.    <br>
    <br>
    The legacy of the first Hang Fire restaurant will live on in our hearts. It’s been one of the most rewarding and challenging projects we’ve ever undertaken, and truly, it’s been nothing without our customers and existing staff team – and both have always been incredibly dedicated. We’re leaving on a high note, without ever compromising the quality and service that we’re so famous for. We thank every customer and friend for supporting us over the years.
     <br>
    <br>
    For customer enquires please email <font color=#FFFF00>
    <a href="mailto:hangfirebarry@gmail.com"><font color=#FFFF00>hangfirebarry@gmail.com</a>
    <br>
    <br>
    <i></b>Sam, Shauna and the Hang Fire Team<i>
    </font></h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>  
    <br>
    <br>
    <br>  
    <br>
    <br>


  </div>
</div>
 
   
   