<div class="hfsk-menu-background">
  
 <%= render 'layouts/external_header' %>
  
  <div class="row">
   <div class="col-md-10 col-md-offset-1  "> 
    
   <div class="row">
    
  <!-- Instructions: This is the header section. Change made to check heroku status ignore-->  
   <div class="col-md-8">
   <h4><font color="#FFD801">GIFT VOUCHERS</font></h4>
   <br>
   <br>
   <%= image_tag "HFSK-Box.jpg", :class => "voucher_img" %> <br>
   <br>
   <br>
   <h6>Vouchers can be used at Hang Fire Southern Kitchen for food, drink and merchandise. 
   Vouchers are valid for 1 year from date of purchase and can be delivered via 1st Class Royal Mail, email or SMS.
   <br> <br>
   By clicking 'BUY NOW' you will be transferred to the Hang Fire voucher service to complete your purchase. 
   </h6>
   <br>
   <br>
     <%= link_to "BUY NOW", "https://gvsvouchers.giftvouchersolutions.co.uk/?id=HANGFIRE", :target => "_blank", :class => "button_book_table_orange", :style=>'color:#000000;' %>
                            
    
     <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   </div>
  </div>
</div>
</div>
</div>

 