<div class="hfsk-home-background">

<%= render 'layouts/external_header' %>
<br>
<div class="row">
<br><br><br>
  <!-- Instructions: This is the home section. -->  
  <center>
    
     <%= image_tag "HF_SK_NEW LOGO_white.png", :class => "photo_main_logo" %> 
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     
      <%= link_to "BOOK A TABLE", static_pages_new_booking_enquiry_path, :class => "btn button_book_table_orange", :style=>'color:#000000;'  %><br><br>
     
      <br>
        <h4><font color=#FFFFFF><b></b></font></h4><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>   
     
      <center>
            <a href="/home"><i class="fa fa-stop-circle-o" style='color: #600000;'></i></a>
          </center>
     
<br>
<br>
<br>  
<br>
<br>
<br>  
<br>
<br>


  </div>
</div>
 
   
   