<div class="what-we-do-background">

<%= render 'layouts/external_header' %>
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 

<br>
<div class="row">
    
<!-- Instructions: This is the what we do words  section. -->  
   <div class="col-md-6">
   <h4><font color="#FFD801">WHAT WE DO</font></h4>
   <h6 style="line-height:24px;">What started as a Southern Style BBQ streetfood stall in Cardiff,
   5yrs ago, run by Samantha Evans and Shauna Guinn, Hang Fire 
   Southern Kitchen is the result of not giving up on your dream to do
     your own thing. Their vision was to run a small restaurant that 
     relies solely on fresh, ethical produce - far away from the 
     congested chain-led culinary landscape - and to create food with soul and passion. 
     <br><br>
     Hang Fire offers Louisiana soul food classics, award-winning US 
     barbecue and wood fired steaks on Wales' first custom built
     Argentinian Parrilla grill. Not forgetting authentic southern
     appetisers and desserts - all washed down with our own brewed 
     beers and NOLA inspired cocktails.
   </h6>
   <br>
   <h6><font color="#FFD801"><strong>Like what we do? Buy our bestselling cookbook <i><%= link_to 'here', "https://www.amazon.co.uk/Hang-Fire-Cookbook-Adventures-American/dp/1849497656/ref=sr_1_1?s=books&ie=UTF8&qid=1521057370&sr=1-1&keywords=hangfire+cookbook", target: :_blank, style: 'color:#FFD801;'%></font></i></h6>
     
   <h6 style="line-height:24px;"><font color="#CCFF66">Look out for our BBC TV Show 'Sam and Shauna's Big Cookout' available on BBC iPlayer.
   </font></strong></h6><br><br><br><br><br>
       </div>
       
       <!-- Instructions: This is what we do photo section. -->   
         <div class="col-md-6"> 
           <br>
          <%= image_tag "HF_What-we-do_RIBS.png", :class => "photo_what_we_do" %> <br><br>
          <%= image_tag "HF_What-we-do_Burger.png", :class => "photo_what_we_do" %> <br><br><br><br><br>
        </div>
        
   </div>
      </div>
         </div>

 