 <%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_open_hours'%>
 
<!-- Instructions: This is holiday season message -->  

 <h3><%= image_tag "holly-icon.png", :class => "holly_big_img" %>
	 <font color=#9ACD32>'Tis the season to be jolly!</font></h3>
	 
 <h5>For all holiday bookings during December, please email us at <b>hangfirebarry@gmail.com<b> 
</h5>
 <br>

<!-- Instructions: This will be the list of rules re bookings. -->  
 <h5>Some things to be aware of regards holiday season bookings:</h5>
 <h6><ol>
 	<li>Words here</li>
 	<li></li>
 	<li></li>
 </ol><h6/>
	
  
  </div>
  </div>

   
 
 