 <%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_open_hours'%>
 
<!-- Instructions: This is holiday season message -->  
 <div class="col-md-7">
 <h3><%= image_tag "holly-icon.png", :class => "holly_big_img" %>
	 <font color=#9ACD32>'Tis the season to be jolly!</font></h3>
	 
 <h5>For all bookings during December, please email us at <b>hangfirebarry@gmail.com</b>.
	 Please specify party size and preferred date/time in your email. 
</h5>


<!-- Instructions: This will be the list of rules re bookings. -->  
 <h6>Some things to be aware of regards festive season bookings:<br><br>
 <ol>
	 <p><b>For parties of 7 or more: </b></p>
 	<li>You will be required to order from our festive menu, see below.</li>
 	<li>A non-refundable deposit of £10 per person is required to secure your booking.</li>
 	<li>The full amount is due no later than two weeks before your booking.</li>
 </ol>
 <br>Festive Menu</h6>
	  <%= image_tag "HF_DECEMBER_MENU.jpg", :class => "festive_menu_img" %> <br>
  
  </div>
  </div>
    </div>

   
 
 