<div class="hfsk-location-background">

<%= render 'layouts/external_header' %>
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 
 <div class="row">
  <div class="col-md-3">
 </div>
 
<!-- Instructions: This is the depsoit t&c section. -->  

  <div class="col-md-8">
  <h4>
    BOOKING RESERVATION & CANCELLATION POLICY TERMS & CONDITIONS
  </h4>
  <h6><small>
    Hang Fire Southern Kitchen. Version 1.0 08/2020
  </small></h6>
 
  <hr>
  <h6><b><i>
  By making a reservation at Hang Fire Southern Kitchen you agree to our booking reservation and cancellation terms detailed below.
  </i></b></h6>
  
  <br>
  <h6>
  In the current climate, tables inside the restaurant will generally need to be booked online via our booking system run by Avenista. Our covers are greatly depleted as we observe government guidelines on social distancing and increase customer safety, so every booked table actively contributes to our business’s survival. 
  <br><br>
  All reservations require credit or debit card details to secure your booking, please be aware we cannot hold a table for you without this information and no charge is made to the card at the time of booking.
  </h6>
  
  <br>
  <h6><u><b>Cancellation Policy  
    </b></u></h6>
    <h6>
   Please Note: All cancellations must be made via the booking system quoting your booking reference code in your booking confirmation email. We do not have a telephone line at the restaurant.
       <br><br>
   In the event that a booking is not honoured in whole or in part, or is cancelled with less than 24 hours notice, a cancellation fee of £10 per person will be charged to the card provided. Should you not show up for your table, the same charge, per person will also be removed from the provided card. 
   Our booking system will track reservations and if they are marked as a no-show, this may have an impact of your ability to make a reservation with us in the future.   </p>
   </h6>
  
  
   <br>
   <h6><u><b>Does the Late Cancellation Fees apply ‘no-show’ reservations?
   </b></u></h6>
   <h6><b>Yes.</b> Our restaurant requires a credit or debit card in order to make a reservation. Hang Fire reserves the right to charge a cancellation fee or No-Show fee according to our cancellation and no-show policy.  
   <br>   <br>
   <ul>
    <li>Everyone who makes a reservation will have to input their card details and a card capture for £10 per cover (including children) and will held against the card. If you arrive for your reservation as normal no charges will be applied to your card in relation to your table booking and you will pay your bill as normal.</li>   
    <li>If you cancel 24 hours prior to your reservation you will not incur any cancellation fees.</li>
    <li>If you cancel your booking on the day of your reservation you will be charged £10 per person.</li>
    <li>If you ‘no-show’ (do not show up for your table at all, or arrive more than 30 minutes late without contacting the restaurant via email) you table could be cancelled, and your card could be charged at £10 per person.</li>
    </ul>
   </h6>
   
   <br>
   <h6><u><b>Late Tables
   </b></u></h6>
   <h6>We would also respectfully ask that you are ready to be seated at the time of your reservation. Customers arriving later than 20 minutes after their table booking time will potentially have the time allocated on their table reduced as its likely the table will be booked after them. 
   <br>   <br>
     Customers arriving 30 minutes after their reservation time could potentially have their table cancelled and the £10 per person late cancellation fee be applied.  
     A discretionary amendment to this would be that you would have emailed the restaurant before their booking time to alert us of the delay on contact@hangfiresouthernkitchen.com

   </h6>
  
  
   <br>  
   <%= link_to "BOOK A TABLE", static_pages_new_booking_enquiry_path, :class => "btn button_book_table_orange", :style=>'color:#000000;'  %>
 <br> <br>
  </div> 
   </div> 
    </div>

   
 
 