 <%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_news'%>

 
<!-- Instructions: This is the careers section. -->  
 

  <div class="col-md-8">
	  <h4><b>Careers at Hang Fire</b></h4><br>
  </div>
   
   <div class="col-md-3">
	    <%= image_tag "HJ-Hangfire-3950.jpg", :class => "photo_img4" %>
   </div>
   <div class="col-md-4">
	  <h6><small>At Hang Fire, our values are underpinned by the need to put our customers first. Great customer service is the driving force behind every great restaurant, making it an essential requirement if you'd like to work for us. We are looking for passionate, dynamic and hard working people to join our team. If you want a fast-paced, hands-on career, Hang Fire is just the place for you.</small></h6>
	  </div>
	  
	<div class="col-md-3">
	<h6><small>
	  Current open positions:<br>
	  <br>
1. Assistant Manager (Full Time)<br>
2. Bar Tender (Full Time)<br>
3. Waitress / Waiter (Full Time)<br>
4. Waitress / Waiter (Part Time)<br>
5. Kitchen Porter (Part Time)<br>
</small></h6>
 
     </div>
   <div class="col-md-3"><br>
	    <%= image_tag "HJ-Hangfire-5141.jpg", :class => "photo_img4" %>
  </div>
    <div class="col-md-8">
  <h6><small>
	  For more information drop us an email:</small> <b>hangfirebarry@gmail.com</b>
	  </h6>
  </div>

   
 
 