<div class="hfsk-location-background">

<%= render 'layouts/external_header' %>
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 

<div class="row">
  <div class="col-md-4">
  
   <h5>OPENING HOURS</h5>
   <br>

   <!-- Instructions: This is the opening hours section. -->  

   <h5>Weds / Thurs:  5pm - 11pm
   <br><i><font color=#f5f2d0>last food orders 9pm</i></font>
   </h5>
   <br>
   <h5>Fri / Sat:   12pm - 11pm
   <br><i><font color=#f5f2d0>last food orders 9pm</i></font>
   </h5>
   </h5>
    <br>
   <h5>Sun Lunch:  12pm - 5.30pm
    <br><i><font color=#f5f2d0>last food orders 3.30pm</i></font>
   </h5> 
   <br>
   <h5>Mon / Tues - Closed
   </h5>
    <br>
    <%= link_to "BOOK A TABLE", static_pages_new_booking_enquiry_path, :class => "btn button_book_table_orange", :style=>'color:#000000;'  %>
     <br> <br>
 </div>
 
<!-- Instructions: This is the location section. -->  

  <div class="col-md-8">
  <h6>HANG FIRE SOUTHERN KITCHEN</h6>
  <h6>The Pumphouse, Hood Road, Barry, CF62 5BE</h6>
  <br>
       <%= image_tag "HF_DIRECTIONS_MAP.png", :class => "map_img" %> <br> 
 
  <br>
  <h6><small>We're situated in a lovingly restored, Grade II 1883, Pumphouse in the historic heart of 
  <br>Barry Docks with on site parking and just 10 minute walk from Barry's main train station.</small>
 </h6><br><br><br><br><br> </h6><br><br><br><br><br> </h6><br><br><br><br><br> </h6><br><br><br><br><br> </h6><br><br><br><br><br>
 
  </div> </div> </div>

   
 
 