<title>Hang Fire Southern Kitchen</title>

 <%= render 'layouts/external_header' %>
   
<!-- Instructions: This is the welcome section. -->  

  <div class="row">
    <div class="col-md-4">
    <%= image_tag "HF-Logo-Lndscape.jpg", size: "255x160" %>
    <br>
     <h6><strong><i> BBC FOOD AWARD WINNING BBQ </i></strong></h6>
     <br>

   </div>
   
   <!-- Instructions: This is the get in touch section. -->  

   <div class="col-md-6">
   
  <h3> <%= image_tag "HF-Star.jpg", size: "30x26" %><strong>  ABOUT HANGFIRE</strong> </h3>
  <br>
  <h6><p>Samantha Evans and Shauna Guinn traveled to America in 2012 – 2013 on a roadtrip of epic proportions to find out ‘what exactly is american barbecue?’. Their mission was to attend masterclasses, listen to pearls of wisdom from backyard and competition ‘cuers’ alike and try as much barbecue as possible.</p>
    </h6><br>

     <h6>See all our latest pictures on Instagram ...
    </h6>
           <!-- SnapWidget -->
           <!-- SnapWidget -->
           <script src="http://snapwidget.com/js/snapwidget.js"></script>
           <iframe src="http://snapwidget.com/in/?u=aGFuZ2ZpcmViYnF8aW58MTI1fDN8Mnx8bm98NXxub25lfG9uU3RhcnR8bm98eWVz&ve=150116" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    <br>
      <br>
        <br>
          <br>
            <br>
              <br>
                <br>
                  <br>
                    <br>
                      <br>
                        <br>
                          <br>
                            <br>
                              <br>
                          <br>
                            <br>
                              <br>
  
   

 