<%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_news'%>

<!-- Instructions: This is the restraunt welcome section. -->  
<br>
       <div class="col-md-8">
     <h4><i class="fa fa-cutlery"></i> HANG FIRE SOUTHERN KITCHEN</h4><br>
     <h5>Welcome to our first restaurant! etc etc etc</h5>
       <%= image_tag "pumphouse.jpg", size: "255x160" %>
     
   </div>

    </div>
    <br><br><br><br><br>
   
 