<div class="hfsk-menu-background">

<%= render 'layouts/external_header' %>
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 

<br>
<div class="row">
  <div class="col-md-10">
  
  <!-- Instructions: This is the menu section. -->  
  
   <h6 style="line-height:20px;"><small><b>Please note:</b> These menus are a guide only. We cook everything fresh daily and source the majority of our 
produce from independant suppliers. Therefore availability and price may be subject to change as our menu 
reflects current market values.</small></h6>
<br>

 </br>
 
 </div>
 
<!-- Instructions: This is the food menu section. -->  
   
   <div class="col-md-12">
   <h5> OUTDOOR MENU </h5>

   <%= image_tag "STREETFOOD_DRINKS_MENU_2021_CR_Page_1.jpg", :class => "menu_img" %>
 
    <%= image_tag "STREETFOOD_DRINKS_MENU_2021_CR_Page_3.jpg", :class => "menu_img" %>
<br><br><br><br><br><br><br><br><br>
       </div>
  
       
     
              </div>
              </div>
       </div>


 
 
   
   