<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>
   
<!-- Instructions: This is the menu section. -->  

   <div class="col-md-4">
   <br>

    <h6> <i class="fa fa-file-pdf-o"></i>
     <%= link_to 'Sample Main Menu', download_jpg_url, style: 'color:#FFFFFF;' %></strong><br><br>
     </h6>
     <p>
     Our prices average £5 for appetisers,<br> £13 for main courses and £4 for desserts.
     </p>
     </div>


 
 
   
   