 <%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_news'%>


 
<!-- Instructions: This is the get in touch section. -->  

  <div class="col-md-5">
 <h3><i class="fa fa-comment fa-fw"></i><strong>  GET IN TOUCH</strong> </h3>
 <br>
 <h4>JOIN OUR MAILING LIST</h4>
 <form>
    <div class="input-group ">
      <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
      <span class="input-group-btn">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe!</button>
    </span>
	</div>
	</form>
    <br>
    <h4>CONTACT HANG FIRE</h4>
	<h6>words words words<br><br>
		
	<i class="fa fa-envelope"></i>
	<strong>hangfirebbq@gmail.com</strong></h6>
 <br>

 <h4>PRESS CONTACT</h4>
      <h6>Please only use the contact details below if you are press looking to get in touch with Hang Fire.<br><br>
	<strong>Vicki Spencer-Francis at Cowshed Communication</strong><br>
	<i class="fa fa-envelope"></i> vicki@wearecowshed.co.uk<br>
	<i class="fa fa-twitter"></i> @wearecowshed
	</h6>

   <br>    
   
  </div>
  </div>
  

  <br>
    <br>
      <br>

      <br>
        <br>
          <br>
   
 
 