<%= render 'layouts/external_header' %>
   
<%= render 'static_pages/side_welcome_open_hours'%>
   
<!-- Instructions: This is the menu section. -->  

   <div class="col-md-4">
   <br>

    <h6> <i class="fa fa-file-pdf-o"></i>
     <%= link_to 'Click to see our sample menu.', download_pdf_url, style: 'color:#FFFFFF;' %></strong><br><br>
     <br>
    
     </div></h6>


 
 
   
   