<%= render 'layouts/external_header' %>

<%= render 'static_pages/side_welcome_news'%>

<!-- Instructions: This is the restraunt welcome section. -->  
       <div class="col-md-5">
    
     <h5>Hang Fire Southern Kitchen is our first restaurant and we hope to showcase all the things we love about the America South; from Gumbo to our award winning barbecue, wood fired grilled meats, fish and vegetables on our custom built Argentinian Parilla grill to blueberry fried pies to banana pudding and plenty in between in an ever evolving menu.<br><br>We cook with heart and soul, as it should be, using great, fresh ingredients, local when possible and responsibly source our produce from suppliers who share our passion for quality.</h5>
       <%= image_tag "pumphouse.jpg", :class => "photo_img" %>
     
   </div>

    </div>
    <br><br><br><br><br>
   
 