<%= render 'layouts/external_header' %>
<%= render 'static_pages/side_welcome_news' %>
   
   
<!-- Instructions: This is the blog section. -->  

 <div class="col-md-8">
 <h4><i class="fa fa-newspaper-o fa-fw"></i><strong>  BLOG</strong> </h4>
  
 <h5>Keep up with the latest news on our blog:<br><br><u> <%= link_to "Click here for Hang Fire blog", "http://hangfiresmokehouse.com", class: 'ex_head_link', :target => "_blank"%></u></h5>
  
 </div>