<title>HFSK Menu</title>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

<center><%= image_tag "HF-Logo-Lndscape.jpg", size: "320x60" %></center>
	  <br>
	  <center><h2>Sample Menu</h2>

	  
	  
	  </center>
	  
  </div>
  </div>
 