<title>Hang Fire Southern Kitchen</title>
<div class="row">
  <div class="col-md-12 ">
    <blockquote class="blockquote-reverse">
    <h1>HANG FIRE SOUTHERN KITCHEN</h1>
    </blockquote>
    <hr>
   </div>
  </div>
   
<!-- Instructions: This is the welcome section. -->  

  <div class="row">
    <div class="col-md-4">
     <h3><i class="fa fa-fire fa-fw"></i> WELCOME!</h3>
     Welcome to the first restaurant from Hang Fire Smokehouse's Sam Evans and Shauna Guinn. 
    <br><br>
     Find out more about the history of Hang Fire <a href="http://hangfiresmokehouse.com">HERE</a>
    <br>

<!-- Instructions: This is the opening hours section. -->  

      <h3><i class="fa fa-clock-o fa-fw"></i> OPENING HOURS</h3>
      <table class="table-condensed">
      <tr><td style="width: 25%">Wed:</td><td style="width: 40%">5pm - 11pm</td><td style="width: 35%"></td></tr>
      <tr><td>Thurs:</td><td>5pm - 11pm</td><td></td></tr>
      <tr><td>Fri:</td><td>5pm - 11pm</td><td></td></tr>
      <tr><td>Sat:</td><td>10am - 12pm</td><td></td></tr>
      <tr><td>Sun:</td><td>10am - 6pm</td><td></td></tr>
      <tr><td>Closed:</td><td>Mon & Tues</td><td></td></tr>
      </table>
      <br>

   </div>

<!-- Instructions: This is the menu section. -->  

   <div class="col-md-4">
     <h3><i class="fa fa-cutlery fa-fw"></i> MENU</h3>
     <%= link_to 'See our sample Menu', download_pdf_url, style: 'color:#FFFFFF;' %></strong><br><br>
     <p>Expect to find all your favourite authentic American BBQ classics, cooked slow'n'low on premise, but also come and explore the fantastic food made famous in the southern states of America, as well as superb burgers, steaks and grills - all flame cooked on our beautiful asado argentinian grill. </p>
     <br>


<!-- Instructions: This is the booking section. -->  

     <h3><i class="fa fa-check-square-o fa-fw"></i> BOOK A TABLE</h3>
    <br>
     PUT BOOKING FORM HERE
     <br>
     
   </div>
 
 
<!-- Instructions: This is the location section. -->  

  <div class="col-md-4">
 <h3><i class="fa fa-map-marker fa-fw"></i> LOCATION</h3>
  <p>Come and see us at: 
  <br>The Pumphouse, Barry, BR00 0XX.
  <br>Free on-site parking available.</p>
  <style>
        #map {
          width: 340px;
          height: 280px;
        }
      </style>
      <script>
            function initialize() {
              var mapCanvas = document.getElementById('map');
              var mapOptions = {
                center: new google.maps.LatLng(51.399660, -3.278211),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              var map = new google.maps.Map(mapCanvas, mapOptions)
            }
            google.maps.event.addDomListener(window, 'load', initialize);
          </script>
  <div id="map"></div>
  <br>
  </div>
  </div>
  

  <!-- Instructions: This is the social media section. -->  

  <div class="row">
    <div class="col-md-6  col-md-offset-3 ">
    <br>
    <center>
    <ul class="list-inline"> <li><a href="https://www.facebook.com/pages/Hang-Fire-Smokehouse/203591489778567"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
       </li> 
       <li><a href="https://twitter.com/hangfirebbq"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
       </li>  
       <li><a href="http://instagram.com/hangfirebbq"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
       </li>  
       <li><a href="https://www.youtube.com/channel/UCM6UYsYUvLAzFZp7M4hCWWg"><i class="fa fa-youtube fa-fw fa-3x"></i></a>
       </li>
   </ul>
       </center>
       <br>
    
       <br>
       
  </div>
    </div>
   
  <!-- Instructions: This is the GALLERY section. -->  
  <section id="gallery">
      <div class="container wow fadeIn">
         
          <div>
            <!-- SnapWidget -->
            <script src="http://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="http://snapwidget.com/in/?u=aGFuZ2ZpcmViYnF8aW58MTI1fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfHllcw==&ve=100715" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:85%;"></iframe>
          </div>
          
  </section>

    
 