<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
   <br><br>
<div class="jumbotron">
          <h1  class="text-center">Hang Fire Restaurants</h1>
          <br>
          <h4  class="text-center">Corporate Site</h3>
          <br>
          
         
    </div>  </div>  </div>