<br><br>

<div class="jumbotron">
          <h1  class="text-center">Restau</h1>
          <br>
          <p  class="text-center">Online food ordering service, for collection.</p>
          <br>
         <p  class="text-center"> <button type="button" class="btn btn-success btn-lg"><%= link_to "Start Your Order", static_pages_day_picker_path %></button></p> 
    </div>