<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
   <br><br>
<div class="text-center">
          <h1>Hang Fire Restaurants</h1>
          <br>
          <h3>Company Site</h3>
          <br>
          
         
    </div>  </div>  </div>