<br><br>

<div class="jumbotron">
          <h1  class="text-center">Restau</h1>
          <br>
          <p  class="text-center">Hang Fire Smoke House Restaurants</p>
          <br>
          
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
          <table class="table">
            <tr>
            <td style="width: 40%"><button type="button" class="btn btn-success btn-lg" class="text-left">
            <%= link_to "Reserve a Table", static_pages_booking_enquiry_path %></button></td>
          <td style="width: 20%"></td>
          <td style="width: 40%"><p  class="text-right"> <button type="button" class="btn btn-success btn-lg">
          <%= link_to "Order Takeaway", static_pages_day_picker_path %></button></p> </td>
          </tr>
          </table>
    </div>
        </div>     
    </div>