<div class="hfsk-booking-background">

<%= render 'layouts/external_header' %>  
<div class="row">
 <div class="col-md-10 col-md-offset-1  "> 

<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <h5>BOOK A TABLE</h5>
  
  <h5>
  <small><font color=#FFD801>
  Please note: 
  If you book between 5pm - 7.30pm we will likely need your table back within 2 hours.
  <br>
  <small><%= link_to "See Deposit Terms and Conditions", hfsk_deposit_terms_url, style: 'color:#d3d3d3;'%>
  </small>
  <br><br>
  </small>
  </h5>
  
  </font>
  </div>  
</div>
 
 
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
    <center>
   
   
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Belview Restaurants</title>
  </head>
  <body>
    		  <form id="form1" runat="server">
     			 <div>
  <iframe src="https://cloudeu01.avenista.net/HangFire/Bookings/hangfire?theme=uidark-t&view=minimal" frameborder="0" allowTransparency="true" width="320" height="370" scrolling="auto" target="_blank" />
      			</div>
     		 </form>

  </body>
  </html>
   </center>

  </div>
  </div>

 
      </div>
    </div>
  </div>
