<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-4">
<h2>New Staff Hours</h2><br>

<%= render 'form' %>

<%= link_to 'Back', staffhours_path %>
</div></div>
