<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">

<h2>Edit System User Details</h2>

<%= render 'form' %>


<%= link_to 'see all users', users_path %>
