<div class="col-md-8">
<% if @dailybank.status ="Created" %>
<h3>Evening Till Count</h3><br>
<% elsif @dailybank.status ="InProgress"%>
<h3>Expenses</h3><br>
<% end %>
  
<% if @dailybank.status == "Locked" %>
  <h6> Record is locked and can no longer be edited.</h6>
  
  <% elsif @dailybank.status == "Created" %>
   <%= render 'dailybanks/cashfloat_new_pm' %>
   
  <% elsif @dailybank.status == "In Progress" %>
    <%= render 'dailybanks/cards_and_expenses' %>
 
 <% end %>
    </div>
   
</div>

</div>   


    
 
