<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-8">
<% if @dailybank.status ="Start" %>
<h3>Morning Float Count</h3><br>
<% else %>
<h3>Dailybank - New</h3><br>
<% end %>

    <% if @dailybank.status == "Start" %>
       
      <%= render 'dailybanks/cashfloat_new_am' %>
        
        <% else %>
        
         <%= render 'dailybanks/form' %>
  
        <% end %>
     <div>
     <div>