<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-4">
<h2>Edit Accruel Rate</h2><br>

<%= render 'form' %>

<%= link_to 'Show', @accruel_rate %> |
<%= link_to 'Back', accruel_rates_path %>
</div></div>
