<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-3">
<h2>New Accruel Rate</h2><br>

<%= render 'form' %>

<%= link_to 'Back', accruel_rates_path, style: 'color:#d3d3d3' %>
</div></div>