<html>
  <body>
    <p>Hi <%= @booking.name %>,</p>
    <p>This email is to notify you that an error ocurred when you tried to pay your deposit via our online service.</p>
	<p>The deposit of £<%= Booking.deposit_amount(@booking).second.to_i %> has not been paid and <b>your card has not been charged.</b> To arrange payment for your deposit or if you would like to <b>amend</b> your booking, please contact us at hangfirebarry@gmail.com.</p>
	<p>Please use this link to <b>view or cancel</b> your booking: <%= link_to "view or cancel your booking", booking_url(@booking) %>.<br>
		<p>Regards,</p>
     <p><b><i>The Hang Fire Southern Kitchen Team</i></b></p>
  </body>
</html>