<html>
  <body>
    <p>A new booking for <%= @booking.name %></p>
    <p> <b><%= @booking.number_of_diners %></b> people,<br>
     at  <%= @booking.booking_date_time.strftime('%H:%M') %> on <%= @booking.booking_date_time.strftime('%A, %d %B %Y') %>.</b></p>
   </body>
</html>