<html>
  <body>
    <p>Hi  <%= @booking.name %>,</p>
    <p>This email confirms your your booking at <b>Hang Fire Southern Kitchen</b>, Barry on <%= @booking.booking_date_time.strftime('%A, %d %B %Y') %> 
    was cancelled today at <%= @booking.cancelled_at.strftime('%H:%M') %>.</p>
    <>
    <p>Use this link to book again: 
    
     <%= link_to "Book a Table", static_pages_booking_enquiry_url %>.</p>
     <p>We hope you can come and see us soon. </p>
  </body>
</html>