<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
   
      <h6><b><% @customer.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %></b></h6>
      
  <% end %>
  
  <form>
     <div class="input-group">
       <%= f.text_field :email, class:"form-control input-sm" %>
       
        <%= f.hidden_field :subscribed, :value => TRUE %>
       
       <span class="input-group-btn">
         <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-sm">Subscribe!</button>
     </span>
 	</div>
 	</form>
  
 
  
<% end %>
