<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-3">
<h3>Edit TRONC Period</h3><br>
<br>

<%= render 'form' %>

<%= link_to 'Show', @tronc %> |
<%= link_to 'Back', troncs_path %>
