<div class="row">
<div class="col-md-2">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-md-10">
<h3>New Tronc Period</h3><br>

<%= render 'form' %>

<%= link_to 'Back', troncs_path, style: 'color:#d3d3d3' %>
