body {
	 background-image: image-url('Rib-Background2.gif');
     background-color: #000000;
     background-repeat: no-repeat;
     background-position: left top;
     background-size: 100% auto;
     margin-right: 0px;
 }
.button_custom_width {
    width: 150px !important;
}
.top_pad {
    margin-top: 1cm;
}

.ex_head_link {
	 color: white !important;
}

td .tooltip {
    position:absolute
}

a href {
	  color: "#FFFFFF";
}

.a href {
	  color: "#FFFFFF";
}

.photo_img {
  max-width: 85%;
  max-height: 15em;
  width: auto !important;
}
p {
  color: white !important; 	
}
input[type="text"]{
color:#303030 !important
}
  
