@import "bootstrap";

.button_custom_width {
    width: 140px !important;
}
.top_pad {
    margin-top: 1cm;
}

.ex_head_link {
	 color: white !important;
}

td .tooltip {
    position:absolute
}

a href {
	  color: "#FFFFFF";
}

.a href {
	  color: "#FFFFFF";
}

