<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../home" class="navbar-brand">HF</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">.. <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                    
           <li><a href="../accounts/">Accounts</a></li>
                <li class="divider"></li>
            <li><a href="../restaurants/">Restaurants</a></li>
                <li class="divider"></li>
            <li><a href="../rdetails/">Restaurant Details</a></li>
                 <li class="divider"></li>
            <li><a href="../products/">Product</a></li>
                <li class="divider"></li>
            <li><a href="../categories/">Category</a></li>
                <li class="divider"></li>
            <li><a href="../tables/">Tables</a></li>
                <li class="divider"></li>
            <li><a href="/bookings/">Bookings</a></li>
                <li class="divider"></li>
            <li><a href="../customers/">Customers</a></li>
                <li class="divider"></li>
            <li><a href="/booking_enquiry/">Booking Enquiry</a></li>
                <li class="divider"></li>
            <li><a href="../enquiries/">Takeaway</a></li>
                <li class="divider"></li>
            <li><a href="/hfsk_home/">HFSK External Site Home</a></li>
            </ul> </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">HF</a></li> 
          </ul>

        </div>
      </div>
    </div>