<br><br><br>

<h6> <% if logged_in? %> 
              Hi <%= current_user.name %>
              <br><br>
              <%= link_to "Log out", logout_path, method: "delete" %><br>
              <br>
              <b>Company Pages</b>
               <% if current_user.admin?  %>
              <a href="/accounts/">Accounts</a><br>
                
              <a href="/restaurants/">Restaurants</a><br>
                
              <a href="/rdetails/">Restaurant Details</a><br>
            
              <a href="/errors/">Error Messages</a><br>
              <% end %>
               
              <a href="/bookings/">Search Bookings</a><br>
              
              <a href="/basic_report/">Booking Activity</a><br>
              
              <a href="/calendar/">Booking Calendar</a><br>
              
              <a href="/bookings/new/">Make a Booking</a><br>
                
              <a href="/customers/">Customers</a><br>
                
              <a href="/users/">Staff</a><br>
              <br>
              <b>External Pages </b> 
              <a href="/booking_enquiry/">Booking Enquiry</a><br>
                
              <a href="/hfsk_home/">Hang Fire Southern Kitchen</a><br>
             <% else %>
              <a href="../login/">Log In</a><br><br>    
             
               <% end %><br><br>

</h6>